<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/_headtag :: headtag(title=${'Registera nytt konto'})"></div>

<div th:replace="fragments/_navbar"></div>
<section class="testimonial py-5" id="testimonial">
	<div class="container">
		<div class="row ">
			<div class="col-md-4 py-5 bg-primary text-white text-center ">
				<div class=" ">
					<div class="card-body">
						<img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
						<h2 class="py-3">Registering</h2>
						<p>För att kunna skapa och redigera en personlig profil behövs ett konto. Det är enkelt och tar endast någon minut att komma igång.
							<br>
							<hr>
							Du kommer kunna lägga in mer information i din profil senare

						</p>
					</div>
				</div>
			</div>
			<div class="col-md-8 py-5 border">
				<h4 class="pb-4 text-center">Vi behöver följande uppgifter:</h4>
				<small id="wrongpassword" class="form-text text-center" style="color: red; display: none">OBS: Lösenordet stämmer inte överrens, var vänlig se över</small>
				<form role="form" method="POST" th:action="@{/account/register}" th:object="${user}">

					<div class="form-row">
						<div class="form-group col-md-6">

							<input th:field="*{username}" id="username" name="username" placeholder="Användarnamn" class="form-control" type="text">
							<small id="userhelp" class="form-text text-muted">Du använder detta för att sedan kunna logga in</small>
						</div>
						<br>
						<div class="form-group col-md-6">
							<input th:field="*{password}" id="pw1" name="password" placeholder="Ange lösenord" class="form-control validateinputselection" type="password" onkeyup="checkPassword()">
							<input id="pw2" placeholder="Ange lösenord igen" class="form-control validateinputselection" type="password" onkeyup="checkPassword()">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<input th:field="*{person.firstName}" id="firstName" name="firstname" placeholder="Förnamn" class="form-control" type="text">
						</div>

						<div class="form-group col-md-6">
							<input th:field="*{person.lastName}" type="text" class="form-control" id="lastName" placeholder="Efternamn">
						</div>
					</div>

					<div class="form-row">

						<div class="form-group col-md-6">

							<input id="Mobile No." name="profileidentity" th:field="*{url}" placeholder="Profil identitet" class="form-control" required="required" type="text">
							<small id="identityhelp" class="form-text text-muted">Den önskade identiteten används för andra att nå din profil e.g workerparadise.com/profilidentitet</small>
						</div>
						<div class="form-group col-md-6">

							<select id="inputState" class="form-control">
								<option selected>Välj ...</option>
								<option> Kvinna</option>
								<option> Man</option>
								<option> Annan</option>
							</select>
						</div>
						<!--
						<div class="form-group col-md-12">
							<textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
						</div>-->
					</div>

					<div class="form-row">
						<div class="form-group">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
									<label class="form-check-label" for="invalidCheck2">
										<small>När du klickar på submit äger vi din identitet. HA</small>
									</label>
								</div>
							</div>

						</div>
					</div>

					<div class="form-row" id="submitform">
						<button type="submit"  id="btnSubmit" class="btn btn-success btn-lg" style="margin: auto">Submit</button>
					</div>


				</form>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/_footer"></div>

<script type="text/javascript">
    function checkPassword(){
        if ($('#pw1').val() !== $('#pw2').val()) {
            $("#btnSubmit").attr("disabled", true);
            $("#wrongpassword").show();
        }
        else{
            $("#btnSubmit").attr("disabled", false);
            $("#wrongpassword").hide();
        }
    }




</script>