<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="fragments/_headtag :: headtag(title=${'Profilepage'})"></div>

<div th:replace="fragments/_navbar"></div>
<section class="testimonial py-5" id="testimonial">
	<div class="container">
		<div class="row ">
			<div class="col-md-4 py-5 bg-primary text-white text-center ">
				<div class=" ">
					<div class="card-body">
						<img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
						<h2 class="py-3">Registering</h2>
						<p>För att kunna skapa och redigera en egen profil behövs ett konto.

						</p>
					</div>
				</div>
			</div>
			<div class="col-md-8 py-5 border">
				<h4 class="pb-4 text-center">Vi behöver följande uppgifter:</h4>
				<form role="form" method="POST" th:action="@{/account/register}" th:object="${user}">

					<div class="form-row justify-content-md-center">
						<div class="form-group col-md-5">
							<input th:field="*{username}" id="Full Nsame" name="username" placeholder="Användarnamn" class="form-control" type="text">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<input th:field="*{}" id="Full Name" name="firstname" placeholder="Förnamn" class="form-control" type="text">
						</div>

						<div class="form-group col-md-6">
							<input th:field="*{}" type="text" class="form-control" id="inputEmail4" placeholder="Efternamn">
						</div>
					</div>

					<div class="form-row">

						<div class="form-group col-md-6">

							<i class="fas fa-bullhorn" data-toggle="tooltip" data-placement="top" title="Den önskade adressen används för att nå din profil e.g workerparadise.com/minurl"></i>

							<input id="Mobile No." name="Mobile No." placeholder="Profil identitet" class="form-control" required="required" type="text">
						</div>
						<div class="form-group col-md-6">

							<select id="inputState" class="form-control">
								<option selected>Välj ...</option>
								<option> Kvinna</option>
								<option> Man</option>
								<option> Annan</option>
							</select>
						</div>
						<!--
						<div class="form-group col-md-12">
							<textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
						</div>-->
					</div>

					<div class="form-row">
						<div class="form-group">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
									<label class="form-check-label" for="invalidCheck2">
										<small>När du klickar på submit äger vi din identitet. HA</small>
									</label>
								</div>
							</div>

						</div>
					</div>

					<div class="form-row">
						<button type="button" class="btn btn-danger">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/_footer"></div>
