<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div
        th:replace="fragments/_headtag :: headtag(title=${'Återställ lösenord'})"></div>
<body>
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-12">
            <div th:replace="fragments/_navbar"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div th:replace="fragments/_sidebar"></div>
        </div>
        <div class="col-10">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col main pt-5 mt-3">
                    <div class="row">
                        <div class="col-lg-8 mb-2">
                            <div class="card">
                                <h5 class="card-header">Byt lösenord</h5>
                                <div class="card-body">
                                    <small id="wrongpassword" class="form-text text-center" style="color: red; display: none">OBS: Lösenordet stämmer inte överrens, var vänlig se över</small>
                                    <form role="form" method="POST" th:action="@{/account/changepassword}" th:object="${user}">
                                        <input th:field="*{password}" id="pw1" name="password" placeholder="Ange lösenord" class="form-control validateinputselection" type="password" onkeyup="checkPassword()">
                                        <input id="pw2" placeholder="Ange lösenord igen" class="form-control validateinputselection" type="password" onkeyup="checkPassword()">
                                        <div class="file btn btn-success" style="position: relative; overflow: hidden; margin-left: 75px;">
                                            Ändra
                                            <input type="submit" id="btnSubmit" name="file" style="position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;"/>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div><!-- th:field="*{password}" th:object="${user}" -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:replace="fragments/_footer"></div>
    </div>
</div>

<script type="text/javascript">
    function checkPassword(){
        if ($('#pw1').val() !== $('#pw2').val()) {
            $("#btnSubmit").attr("disabled", true);
            $("#wrongpassword").show();
        }
        else{
            $("#btnSubmit").attr("disabled", false);
            $("#wrongpassword").hide();
        }
    }




</script>
</body>
</html>