<!--

This header should always be included at the top of a new html file in the following syntax
NEVER add head that in
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_header :: header(title=${'ADD A TITLE HERE'})"></div>

<YOUR CONTENT HERE>

</YOUR CONTENT HERE>
-->

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="headtag (title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A website for finding people ">

    <!-- Includes bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" data-th-href="@{~/css/custom.css}" />
</head>

