 <!-- Navigation left sidebar -->
<div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
    <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
    	<li class="nav-item"><a class="nav-link" href="#">Erfarenheter</a></li>
    	<li class="nav-item"><a class="nav-link" href="#">Utbildning</a></li>
    	<li class="nav-item"><a class="nav-link" href="#">...</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/">Visa profil</a></li>
    </ul>
</div> <!-- Navigation left sidebar end -->