<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Lägg till/ändra kompetens'})"></div>
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-12">
			<div th:replace="fragments/_navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div th:replace="fragments/_sidebar"></div>
		</div>
		<div class="col-10">
			<div class="row row-offcanvas row-offcanvas-left">
			
			<div class="offset-3 col-6">
				<form class="shadow-lg p-3 mb-5 bg-white rounded mt-5 col-md-auto"
					data-th-action="@{/competences/add}" 
					data-th-object="${competence}" method="post">
				  <input type="hidden" data-th-field="*{idCompetence}" readonly="readonly" placeholder="id"/>	
					
				  <h3 class="mb-3">LÄGG TILL/ÄNDRA KOMPETENS</h3>
					<div class="form-group blu-margin">
					<div class="form-group">
							<label for="competenceName">Kompetens</label> <input
								data-th-field="*{competenceName}" type="text" class="form-control"
								placeholder="Ange kompetens">
						</div>
						
					<input type="submit" value="Spara" /> <input type="reset"
							value="Återställ" /> <input type="button"
							value="Avbryt" onclick="location.href='/competences/'" />
					</p>
			  	</form>
		
				<a href="/competences/">Visa kompetenser</a>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</div>
</body>
</html>