<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Kompetenser'})"></div>
<body>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class="col-12">
				<div th:replace="fragments/_navbar"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<div th:replace="fragments/_sidebar"></div>
			</div>
			<div class="col-10">
				<div class="row row-offcanvas row-offcanvas-left">
					<div class="col main pt-5 mt-3">
						<h1 class="display-4 d-none d-sm-block">Kompetenslista</h1>
						<div class="col" data-layout-fragment="content">
							<table class="table">
								<thead class="thead-dark">
									<tr>
										<!--  <th scope="col">Id</th> -->	
										<th scope="col">Kompetens</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="competence: ${competences}">
									<!--  <td data-th-text="${competence.getIdCompetence()}">Id</td> -->	
										<td data-th-text="${competence.getCompetenceName()}">Kompetens</td>
										<td scope="row">
											<!--  <a th:href="@{/competences/add}">Lägg till</a> |--> <a
											th:href="@{/competences/edit/{competenceid}(competenceid=${competence.idCompetence})}">Ändra</a>
										<!-- 	| <a th:href="@{/competences/remove/{competenceid}(competenceid=${competence.idCompetence})}">Ta bort</a> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<input type="button"	value="Lägg till ny kompetens" onclick="location.href='/competences/add'" />
					<!--  <a th:href="@{/competences/add}">Lägg till ny kompetens</a> -->	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</body>
</html>