<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Lägg till/ändra utbildning'})"></div>
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-12">
			<div th:replace="fragments/_navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div th:replace="fragments/_sidebar"></div>
		</div>
		<div class="col-10">
			<div class="row row-offcanvas row-offcanvas-left">
			<!-- Content -->
			<div class="offset-3 col-6">
				<form class="shadow-lg p-3 mb-5 bg-white rounded mt-5 col-md-auto"
		 	data-th-action="@{/educations/save}" 
		 	data-th-object="${education}"	method="post">

			<input type="hidden" data-th-field="*{id.idEducation}" placeholder="id"/> 
			<input type="hidden" data-th-field="*{id.idPerson}" />
			
			<h3 class="mb-3">LÄGG TILL/ÄNDRA UTBILDNING</h3>
			<div class="form-group blu-margin">
				<label for="educationName">Utbildningsnamn</label>
			<input type="text" data-th-field="*{educationName}" class="form-control"
			placeholder="Utbildningsnamn"/>
			</div> 
			
			<div class="form-group">
				<label for="school">Lärosäte</label> 
			<input type="text" data-th-field="*{school}" class="form-control"
			placeholder="Lärosäte"/> 
			</div>
			
			<div class="form-group">
				<label for="educationDescription">Beskrivning</label> 
			<textarea rows="10" data-th-field="*{educationDescription}" class="form-control" 
			placeholder="Beskrivning"/></textarea>
			</div>
			
			<div class="form-group row">
				<div class="col-6">
					<label for="educationStartDate">Startdatum</label>
			<input type="date" data-th-field="*{educationStartDate}" class="form-control" 
			placeholder="Startdatum"/>
			</div>
				<div class="col-6">
					<label for="educationEndDate">Slutdatum</label> 
			<input type="date" data-th-field="*{educationEndDate}" class="form-control"
			placeholder="Slutdatum"/>
			</div>
			</div>
			
			<div class="form-group">
				<label for="educationLevel">Nivå</label>
			<input type="text" data-th-field="*{educationLevel}" class="form-control"
			placeholder="Nivå"/>
			</div>
			
			<div class="form-group">
				<label for="educationGrade">Betyg</label>
			<input type="text" data-th-field="*{educationGrade}" class="form-control"
			placeholder="Betyg"/>
			</div>
			
			<div class="form-group">
				<label for="isProgram"> Utbildningsprogram? </label>
			  	<input type="checkbox" data-th-field="*{isProgram}" />
			</div>
						
			<div class="form-group"></div>
			
				<input type="submit" value="Spara" /> <input type="reset"
					value="Reset" /> <input type="button"
							value="Avbryt" onclick="location.href='/educations/'" />
		<div>		
		<a href="/educations/">Visa utbildningslista</a>
		</div>	
	  </form>
		</div>
				<!--End content -->
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</div>
</body>
</html>