<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Utbildningar'})"></div>
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-12">
			<div th:replace="fragments/_navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div th:replace="fragments/_sidebar"></div>
		</div>
		<div class="col-10">
			<div class="row row-offcanvas row-offcanvas-left">
				<!-- Content -->
				<div class="col main mt-3">
					<div class="col-lg-11">
						<div class="card">
						  <h5 class="card-header">Hantera utbildningar</h5>
						  <div class="card-body">
					  		<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Utbildningsnamn</th>
										<th scope="col">Beskrivning</th>
										<th scope="col">Lärosäte</th>
										<th scope="col">Startdatum</th>
										<th scope="col">Slutdatum</th>
										<th scope="col">Nivå</th> 
										<th scope="col">Betyg</th>
										<th scope="col">Program?</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="education : ${educations}">
										<td data-th-text="${education.educationName}">Utbildningsnamn</td>
									 	<td data-th-text="${education.educationDescription}">Beskrivning</td>
									 	<td data-th-text="${education.school}">Lärosäte</td>
										<td data-th-text="${education.educationStartDate}">Startdatum</td>
										<td data-th-text="${education.educationEndDate}">Slutdatum</td>
										<td data-th-text="${education.educationLevel}">Nivå</td>
										<td data-th-text="${education.educationGrade}">Betyg</td>
										<td data-th-text="${education.isProgram}">Program</td>
										<td scope="row">
											<a th:href="@{/educations/edit/{personid}/{educationid}(personid=${education.getId().getIdPerson()},educationid=${education.getId().getIdEducation()})}"><small>Ändra</small></a> |     
											<a th:href="@{/educations/remove/{personid}/{educationid}(personid=${education.getId().getIdPerson()},educationid=${education.getId().getIdEducation()})}"><small>Ta bort</small></a>							
										</td>
									</tr>
								</tbody>
							</table>
							<div class="subheading mb-2">
					      		<p class="card-text">
					      			<a href="add">Lägg till ny utbildning</a>
								</p>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</div>
</body>
</html>