<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'PAGE TITLE'})"></div>
<head>
<meta charset="UTF-8">
<title>Lägg till/ändra email</title>
</head>
<body>
	<div class="col-sm-8" data-layout-fragment="content">
			<h1>Lägg till/ändra email</h1>
			
			<form data-th-action="@{/emails/add}" data-th-object="${email}"
				method="post">
			 	<!--email-Id:   --> <input type="hidden" data-th-field="*{id.idEmail}" readonly="readonly" placeholder="id"/>
			 <!--	personid:   --><input type="hidden" data-th-field="*{id.idPerson}" readonly="readonly"/>
			<p>Email: <input type="text" data-th-field="*{emailAddress}" placeholder="Ange e-postadress"/> </p>
			<!--  <p>Kategori: <input type="text" data-th-field="*{type.idType}" placeholder="Ange kategori"/> -->	
				<div class="form-group blu-margin">
				<label for="competence">Kategori</label> 
				    <select class="form-control" data-th-field="*{type.idType}">
				      <option value="0">Välj kategori</option>	
				    	<option data-th-each="type : ${types}" 
				    		data-th-value="${type.idType}" 
				    		data-th-text="${type.typeName}">
			    		</option>
				    </select>
				</div> 				
				Primär e-postadress (visas på profilsidan): <input type="text" data-th-field="*{primaryEmail}" placeholder="Detta är min primära epost-adress"/> 			
				<p><input type="submit" value="Submit" /> <input type="reset"
						value="Reset" /></p>
		  	</form>
	
			<a href="/emails/">Visa e-postadresser</a>
	</div>
</body>
</html>