<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div
	th:replace="fragments/_headtag :: headtag(title=${'Lägg till/ändra adress'})"></div>
<body>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class="col-12">
				<div th:replace="fragments/_navbar"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<div th:replace="fragments/_sidebar"></div>
			</div>
			<div class="col-10">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- Content -->
					<div class="offset-3 col-6">
						<form class="shadow-lg p-3 mb-5 bg-white rounded mt-5 col-md-auto"
							data-th-action="@{/addresses/save}" 
							data-th-object="${address}" method="post">
						
				  <input type="hidden" data-th-field="*{id.idAddress}" readonly="readonly" placeholder="id"/>
				<input type="hidden" data-th-field="*{id.idPerson}" readonly="readonly" placeholder="personid" />
					
						<h3 class="mb-3">LÄGG TILL/ÄNDRA ADRESS</h3>
							<div class="form-group blu-margin">
								<label for="co">C/O</label> 
					<input type="text" data-th-field="*{co}" class="form-control" placeholder="C/O"/>	
					</div>

							<div class="form-group">
								<label for="streetAddress">Gatuadress</label> 		
					<input type="text" data-th-field="*{streetAddress}" class="form-control" placeholder="Gatuadress"/> 
					</div>

							<div class="form-group">
								<label for="zipCode">Postnummer</label> 
					<input type="text" data-th-field="*{zipCode}" class="form-control" placeholder="Postnummer"/> 	
					</div>

							<div class="form-group">
								<label for="city">Postadress</label> 
					<input type="text" data-th-field="*{city}" class="form-control" placeholder="Postadress"/> 
					</div>
				
				<div class="form-group">
								<label for="type">Kategori</label> <select
									class="form-control" data-th-field="*{type.idType}">
									<option value="0">Välj kategori</option>
									<option data-th-each="type : ${types}"
										data-th-value="${type.idType}" data-th-text="${type.typeName}">
									</option>
								</select>
							</div>

							<div class="form-group">
								<label for="primaryAddress">Primäradress (visas på profilsidans "Om mig")</label><br>
					<input type="checkbox" name= "primaryAddress" th:checked="*{primaryAddress}" placeholder="Primäradress"/>	
					</div>
							
							<p>
					<input type="submit" value="Spara" /> <input type="reset"
							value="Nollställ" /> <input type="button" value="Avbryt"
									onclick="location.href='/addresses/'" />
					</p>
					<a href="/addresses/">Visa mina adresser</a>
			  	</form>
		
				
	</div>
</body>
</html>