<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'PAGE TITLE'})"></div>
<head>
<meta charset="UTF-8">
<title>Addresser</title>
</head>
<body>
	<div th:replace="fragments/_navbar"></div>
			<div class="col" data-layout-fragment="content">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<!--<th scope="col">Person</th> -->
							<th scope="col">Personid</th>
							<th scope="col">Förnamn</th>
							<th scope="col">Efternamn</th>
							<th scope="col">C/O</th>
							<th scope="col">Gatuaddress</th>
							<th scope="col">Postnummer</th>		
							<th scope="col">Postadress</th>
							<th scope="col">Primäradress</th>
							<th scope="col">Kategori</th>		
							<!--<th scope="col">Län</th> -->			
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="address: ${addresses}">
							<td data-th-text="${address.getId().getIdAddress()}">Id</td>
							<!--<td data-th-text="${address.person.getFullName()}">Person</td> -->
							<td data-th-text="${address.person.getIdPerson()}">Personid</td>
							<td data-th-text="${address.person.getFirstName()}">Förnamn</td>
							<td data-th-text="${address.person.getLastName()}">Efternamn</td>
							<td data-th-text="${address.getCo()}">C/O</td>
							<td data-th-text="${address.getStreetAddress()}">>Gatuadress</td>
							<td data-th-text="${address.getZipCode()}">Postnummer</td>
							<td data-th-text="${address.getCity()}">Postadress</td>
							<td data-th-text="${address.isPrimaryAddress()}">Primäradress</td>
							<td data-th-text="${address.type.getTypeName()}">Kategori</td>
							<!--<td data-th-text="${address.getCounty()}">Län</td> -->
							<td scope="row">
								<!--  <a th:href="@{/addresses/person/{addressid}(personid=${address.getId().getIdPerson()}/add}">Lägg till</a> |-->
								<a th:href="@{/addresses/person/{personid}/add(personid=${address.getId().getIdPerson()})}">Lägg till</a> |
								<a th:href="@{/addresses/edit/{personid}/{addressid}(personid=${address.getId().getIdPerson()},addressid=${address.getId().getIdAddress()})}">Ändra</a> |
							   <a th:href="@{/addresses/remove/{personid}/{addressid}(personid=${address.getId().getIdPerson()},addressid=${address.getId().getIdAddress()})}">Ta bort</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		  	<a th:href="@{/addresses/add}">Lägg till ny adress</a>
			<div th:replace="fragments/_footer"></div>
</body>
</html>