<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Websidor'})"></div>
<body>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class="col-12">
				<div th:replace="fragments/_navbar"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<div th:replace="fragments/_sidebar"></div>
			</div>
			<div class="col-10">
				<div class="row row-offcanvas row-offcanvas-left">
					<!-- Content -->
					<div class="col main mt-3">
						<div class="col-lg-10">
							<div class="card">
							  <h5 class="card-header">Hantera websidor</h5>
							  <div class="card-body">
						  		<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">Websidans namn</th>
											<th scope="col">Länk</th>
											<th scope="col">Beskrivning</th>
											<th scope="col">Kategori</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr data-th-each="webpage : ${webpages}">
											<td data-th-text="${webpage.getWebpageName()}">Websidans namn</td>
											<td data-th-text="${webpage.getLink()}">Länk</td>
											<td data-th-text="${webpage.getWebpageDescription()}">Beskrivning</td>
											<td data-th-text="${webpage.type.getTypeName()}">Kategori</td>
											<td scope="row">
												<a th:href="@{/webpages/edit/{webpageid}(webpageid=${webpage.getId().getIdWebpage()})}">Ändra</a> | 
												<a	th:href="@{/webpages/remove/{webpageid}(webpageid=${webpage.getId().getIdWebpage()})}">Ta bort</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="subheading mb-2">
						      		<p class="card-text">
						      			<a href="add">Lägg till ny websida</a>
									</p>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div th:replace="fragments/_footer"></div>
		</div>
	</div>
</body>
</html>