<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Kompetenser'})"></div>
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-12">
			<div th:replace="fragments/_navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div th:replace="fragments/_sidebar"></div>
		</div>
		<div class="col-10">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="col main mt-3">
					<div class="col-lg-4">
						<div class="card">
						  <h5 class="card-header">Hantera kompetenser</h5>
						  <div class="card-body">
					  		<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">Kompetens</th>						
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr data-th-each="personcompetence: ${personcompetences}">
										<td data-th-text="${personcompetence.competence.getCompetenceName()}">Kompetens</td>
										<td scope="row">
										<a th:href="@{/personcompetences/edit/{personid}/{personcompetenceid}(personid=${personcompetence.person.getIdPerson()},personcompetenceid=${personcompetence.getIdPersonCompetence()})}">Ändra</a> |
										<a th:href="@{/personcompetences/remove/{personcompetenceid}(personcompetenceid=${personcompetence.getIdPersonCompetence()})}">Ta bort</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="subheading mb-2">
					      		<p class="card-text">
					      			<a href="add">Lägg till ny kompetens</a>
								</p>
							</div>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</div>
</body>
</html>