<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Telefonnummer'})"></div>
<body>
	<div class="container-fluid" id="main">
		<div class="row">
			<div class="col-12">
				<div th:replace="fragments/_navbar"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<div th:replace="fragments/_sidebar"></div>
			</div>
			<div class="col-10">
				<div class="row row-offcanvas row-offcanvas-left">
				<!-- Content -->
					<div class="col main mt-3">
						<div class="col-lg-6">
							<div class="card">
							  <h5 class="card-header">Hantera telefonnummer</h5>
							  <div class="card-body">
						  		<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">Landkod</th>
											<th scope="col">Telefonnummer</th>
											<th scope="col">Kategori</th>
											<th scope="col">Primär</th>						
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr data-th-each="phone: ${phones}">
											<td data-th-text="${phone.countryPrefix}">Landkod</td>		
											<td data-th-text="${phone.phoneNumber}">Telefonnummer</td>
											<td data-th-text="${phone.type.typeName}">Kategori</td>
											<td data-th-text="${phone.primaryContactNumber}">Primär</td>
											<td scope="row">
											<a th:href="@{/phone/edit/{phoneid}(phoneid=${phone.id.getIdPhone()})}">Ändra</a> |
												<a th:href="@{/phone/remove/{phoneid}(phoneid=${phone.id.getIdPhone()})}">Ta bort</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="subheading mb-2">
						      		<p class="card-text">
						      			<a href="add">Lägg till nytt telefonnummer</a>
									</p>
								</div>
							  </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div th:replace="fragments/_footer"></div>
		</div>
	</div>
</body>
</html>

