<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'PAGE TITLE'})"></div>
<body>
<div th:replace="fragments/_navbar"></div>
	<div class="col-5" data-layout-fragment="content">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Namn</th>
					<th scope="col">Beskrivning</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="company : ${companies}">
					<td data-th-text="${company.companyName}">Namn</td>
					<td data-th-text="${company.companyDescription}">Beskrivning</td>
					<td scope="row">
						<a th:href="@{/companies/edit/{companyid}/(companyid=${company.idCompany})}">Ändra</a> |
						<a th:href="@{/companies/remove/{companyid}/(companyid=${company.idCompany})}">Ta bort</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/_footer"></div>
</body>
</html>