<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/_headtag :: headtag(title=${'Person'})"></div>
<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col-12">
			<div th:replace="fragments/_navbar"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			<div th:replace="fragments/_sidebar"></div>
		</div>
		<div class="col-10">
			<div class="row row-offcanvas row-offcanvas-left">

				<div class="col-lg-6 mt-lg-3">
				<div class="card">
					<h5 class="card-header">Redigera personuppgifter </h5>
					<div class="card-body">
						<form 
						data-th-action="@{/persons/save}"
							data-th-object="${person}" method="post">
	
							<input type="hidden" data-th-field="*{idPerson}" />
							
								<div class="form-group">
								<label for="firstName">Förnamn</label>
								<input type="text" data-th-field="*{firstName}"
									class="form-control" placeholder="Förnamn"/>
							</div>
							
							<div class="form-group">
								<label for="middleName">Mellannamn</label>
								<input type="text" data-th-field="*{middleName}"
									class="form-control" placeholder="Mellannamn"/>
							</div>
							
							<div class="form-group">
								<label for="lastName">Efternamn</label>
								<input type="text" data-th-field="*{lastName}"
									class="form-control" placeholder="Efternamn"/>
							</div>
						
							<div class="form-group">
								<label for="gender">Kön</label>
								<input type="text" data-th-field="*{gender}"
									class="form-control" placeholder="Kön"/>
							</div>
							
							<div class="form-group">
								<label for="birthdate">Födelsedatum</label>
								<input type="date" data-th-field="*{birthdate}"
									class="form-control col-lg-5" placeholder="Födelsedatum"/>

							</div>
	
							<div class="form-group text-right">
								<input type="submit" value="Spara" /> 
								<input type="reset"	value="Återställ" /> 
								<input type="button" value="Avbryt" th:onclick="'location.href = \'' + @{/account/dashboard} + '\''" />
							</div>
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div th:replace="fragments/_footer"></div>
	</div>
</div>
</body>
</html>